.about {
	background-color: red;
	font-size: 25px;
	color: black;
}

.cover {
	display: block;
	margin: 0 auto;
}

.portfolio {
	height: 350px !important;
}

.black {
	width: 60% !important;
	height: 500px !important;
	margin: 0 auto;
	display: block;
}

.sub {
	text-align: center;
	color: red;
	font-size: 30px;
}

.golf {
	background-color: black;
	color: white;
	font-size: 25px;
	letter-spacing: 2px;
}

/*.navbar-collapse {
	float: left;
}
*/
/*.nav {
	float: left;

}*/