.about {
	background-color: red;
	font-size: 25px;
	color: black;
}

.cover {
	display: block;
	margin: 0 auto;
}

.portfolio {
	height: 350px !important;
}

.black {
	width: 60% !important;
	height: 500px !important;
	margin: 0 auto;
	display: block;
}

.sub {
	text-align: center;
	color: red;
	font-size: 30px;
}

.golf {
	
	color: white;
	font-size: 25px;
	letter-spacing: 2px;
}

/*.navbar-collapse {
	float: left;
}
*/
/*.nav {
	float: left;

}*/

.home {
	background-color: black;
}

.title {
	text-align: center;
	color: red;
	font-size: 50px;
}

.right img {
	/*position: relative;*/
	width: 100%;
	height: 30%;
}

.right p {
	position: absolute;
	top: 500px;
	left: 100;
	color: red;
	font-size: 30px;
	
}

/*.right {
	float: right;
}*/

.corpo {
	height: 800px !important;
	width: 100%;
}

.ger-golf {
	text-align: center;
	font-size: 40px;
	color: white;
}

.soupy {
	text-align: center;
	color: red;
	font-size: 50px;
}

#links {
	background-color: white;
}


#links h1 {
	text-align: center;
}













